{% autoescape off %}
Dear {{ name }},

We extend our warmest greetings and welcome you to Voluntricity.

We greatly appreciate your registration with our platform. To initiate the activation process for your account, please click on the following link:

href="http://{{ domain }}/organizations/activate/{{ uid }}/{{ token }}"

Activate Your Account

If you did not initiate this request, kindly disregard this email.

Should you have any questions or require assistance, please do not hesitate to reach out to us.

Thank you for choosing Voluntricity.

Sincerely,

Team Spider
{% endautoescape %}
