<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Page Navigation</title>
  <link rel="stylesheet" type="text/css" href="vprofile.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/vprofile.css' %}" />
</head>

<body>
  <header>
    <button onclick="showPersonalInfo()" data-form="profile-form" class="pi">
      Personal Info
    </button>
    <button onclick="showAddressInfo()" data-form="address-form" class="ai">
      Address Info
    </button>
    <button onclick="showContactInfo()" data-form="contact-form" class="ci">
      Contact Info
    </button>
    <a href="/"></A><button id="saveButton" class="sa">
      Done
    </button></a>
  </header>
  <div class="nishtha">
    <!-- Profile Container content -->

    <div class="profile-details">
      <div class="raj">
        <div class="profile-picture">
          <img {%if pic%} src="{{pic}}" {%else%}
            src="https://imgs.search.brave.com/18JySVo2-PvlQDVeBNE0awQ0y65lPFg3ZEtrLCzr5Co/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9j/YXJ0b29uLWNoYXJh/Y3Rlci13aXRoLWZh/c2hpb24tYmFnXzcx/NzY3LTk4LmpwZz9z/aXplPTYyNiZleHQ9/anBn"
            {%endif%} alt="Profile Picture" />
        </div>
        <div class="details">
          <h2 class="name">{{orgname}}</h2>
          <p class="bio">{{email}}</p>
        </div>
      </div>

      <div class="outerbadadiv">
        <div class="social-box">
          <!-- Social Info content -->
          <form action="/organizations/social_links" method="POST">
            {%csrf_token%}
            <p class="sl">Social Links</p>
            <div class="social-item">
              <img
                src="https://imgs.search.brave.com/6EgyLmzbyfJkgTFi9JZF5IMoROjA_-_7nrdEXnEj3-4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9l/L2U3L0luc3RhZ3Jh/bV9sb2dvXzIwMTYu/c3Zn.svg"
                alt="Instagram Icon" class="social-icon" />
              <input value={{instagram}} type="text" placeholder="Instagram ID" id="instagram" name="instagram" />
            </div>
            <div class="social-item">
              <img
                src="https://imgs.search.brave.com/SKkzQYERtG5-Tx245DcUJ6MIUCdx9ijFZpInGHj2hYE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2QyL2U1/LzM1L2QyZTUzNTlm/ODQwMmNiOGQzZDdi/MjJjNDYzZjkwMTNi/LnBuZw"
                alt="Facebook Icon" class="social-icon" />
              <input value={{facebook}} type="text" placeholder="Facebook ID" id="facebook" name="facebook" />
            </div>
            <div class="social-item">
              <img
                src="https://imgs.search.brave.com/0onedxgdJWLsAOrzVTbco23TxXLuDJGb_uBUL74bc7k/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2NhL0xpbmtlZElu/X2xvZ29faW5pdGlh/bHMucG5n"
                alt="LinkedIn Icon" class="social-icon" />
              <input value={{linkedin}} type="text" placeholder="LinkedIn ID" id="linkedin" name="linkedin" />
            </div>
            <button class="custom-button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="profile-info box">
      <!-- Profile Info content -->
      <div id="personalInfo" class="page">
        <h2>Personal Information</h2>
        <!-- Personal Info content -->
        <form id="profile-form" action="/organizations/personal_info" method="POST" class="prof"
          enctype="multipart/form-data">
          {% csrf_token %}
          <label for="organization-name">organization Name:</label>
          <input value={{orgname}} type="text" id="organization-name" name="organization-name" required /><br />

          <div class="social-item">
            <img src="{% static 'img\icons8-web.gif' %}" alt="Facebook Icon" class="social-icon" />
            <input value={{website}} type="text" placeholder="website" id="website" name="website" />
          </div>

          <div id="bioSection">
            <label for="description">description:</label>
            <textarea id="description" name="description" rows="4" cols="50">{{ description }}</textarea>
          </div>

          <div id="profilePictureSection">
            <label for="profilePicture">Profile Picture:</label>
            <input type="file" id="logo" name="logo" />
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      <!-- Address Info content -->
      <div id="addressInfo" class="page">
        <h1>Address Information</h1>
        <form id="address-form" class="addr" action="/organizations/address_info" method="POST">
          {%csrf_token%}
          <label for="address1">Address Line 1:</label>
          <input value={{line1}} type="address" id="address1" name="address1" required /><br />

          <label for="address2">Address Line 2:</label>
          <input value={{line2}} type="address" id="address2" name="address2" required /><br />

          <label for="City">City</label>
          <input value={{city}} type="City" id="City" name="City" required /><br />

          <label for="Postal">Postal Code</label>
          <input value={{postal}} type="Postal" id="Postal" name="Postal" required /><br />

          <label for="Country">Country</label>
          <input value={{country}} type="Country" id="Country" name="Country" required /><br />
          <button>Submit</button>
        </form>
      </div>
      <!-- Contact Info content -->
      <div id="contactInfo" class="page">
        <h1>Contact Information</h1>
        <form id="contact-form" class="cont" action="/organizations/contact_info" method="POST">
          {%csrf_token%}
          <label for="contact">Contact No.:</label>
          <input value={{contact}} type="contact" id="contact" name="contact" required /><br />
          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>

  <script src='{%static "js/vprofile.js"%}'></script>
</body>

</html>