body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #03C4EB;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}


/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #ccc;
  margin-bottom: 50px;
}

#hero h2 span {
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid #03C4EB;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating>.animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
section {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .about-content {
  background: #fff;
}

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 50px;
  margin-bottom: 15px;
}

#about .about-text:last-child {
  margin-bottom: 0;
  font-size: 25px;
}

/* Similar events
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 80px;
  line-height: 24px;
}

.panel {
  width: 450px;
  height: 750px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-box {
  width: 48%; /* Adjust as needed */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}

.info-box img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.apply-button {
  background-color: #3498db;
  color: #fff;
  padding: 13px 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 15px;
  font-size: 20px;
  
}
.size{
  font-size: 25px;
 
}
.impression{
  margin-top: 30px;  
}
.forl{
  display:flex;

}
.nish {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whats-include {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #f8f8f8;
}

.whats-include h2 {
  width: 100%;
  font-size: 32px;
  color: #333;
  margin-bottom: 30px;
}

.include-box {
  flex: 0 1 calc(45% - 10px); /* Two boxes in a line with 10px margin */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.include-box:hover {
  transform: scale(1.05);
}

.include-box h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.include-box p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}


.requirements-section {
  text-align: center;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;

}

.requirements-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 30px;
  color: black;
}

.requirements-box {
  width: 800px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
 
}

.requirements-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
 
}

.requirements-content {
  text-align: center;
  align-items: center;
}
.bada{
  display: flex;
}
.inner{
  margin-left: 100px;
}